@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

[dir="rtl"] {
  font-family: 'Cairo', system-ui, sans-serif !important;
}

@media print {
  /* Hide every element on the page */
  body * {
    visibility: hidden;
  }
  /* Except our print container and all its children */
  .print-only, .print-only * {
    visibility: visible;
  }
  /* Position the print container at the top left */
  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
  }
}